.app-container {
  min-height: 100vh;
  display: flex;
}

/* 
#4B352A - brown
#CA7842 - orange
#B2CD9C - teal
#F0F2BD - gray
*/

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-header {
  display: flex;
  padding: 15px;
  height: 10%;
  justify-content: center;
}


.input{
  border: 1px solid white;
}

textarea{
resize: both;
outline: none;
background-color: rgba(0, 0, 0, 0);
padding: 5px;
}