.app-container {
  min-height: 100vh;
  display: flex;
}

/* 
#4B352A - brown
#CA7842 - orange
#B2CD9C - teal
#F0F2BD - gray
*/

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-header {
  display: flex;
  padding: 5px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.server-message {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  justify-self: center;
  padding: 0px 5px;
}

.server-message.success {
  color: rgb(98, 88, 245);
}

.server-message.error {
  color: rgb(255, 47, 47);
}

.server-message.warning {
  color: rgb(255, 130, 47);
}
.textarea {
  resize: both;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Crucial for width with parent padding */
  resize: none;
  overflow: hidden;
}

.log-btn {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(157, 216, 255);

  font-weight: 700;
}
