.topic-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 15px;
  gap: 15px;
}

.topic-content {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.topic-container div:nth-child(1) {
  background-color: #6af36a46;
}

.topic-container div:nth-child(2) {
  background-color: #79260d52;
}
.topic-container div:nth-child(3) {
  background-color: #b4eaff52;
}

.topic-container div:nth-child(4) {
  background-color: #fd2b067a;
}