.topic-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 15px;
  gap: 15px;
}

.topic-content {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.topic-container div:nth-child(1) {
  background-color: #6af36a46;
}

.topic-container div:nth-child(2) {
  background-color: #79260d52;
}
.topic-container div:nth-child(3) {
  background-color: #b4eaff52;
}

.topic-container div:nth-child(4) {
  background-color: #fd2b067a;
}

.topic-container section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 5px;
  height: 70%;
}

.topic-container textarea {
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}
.topic-container .controls-span {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
}

.topic-container .checkbox-span {
  display: flex;
  gap: 5px;
  align-items: center;
}

.topic-container span input[type="checkbox"] {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

.topic-container .disabled {
  background-color: rgba(86, 89, 92, 0);
  outline: none;
  border: none;
  color: rgb(158, 155, 155);
}

.checkbox-title {
  font-weight: 700;
}

.checkbox-title.success {
  color: rgb(0, 0, 0);
}

.topic-title {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.topic-container .clear-text-btn {
  border: 2px solid white;
  padding: 5px 5px;
  border-radius: 5px;
}


*{
  border: 1px solid white;
}